
<h1>Private</h1>
<div>Username: {{{username}}}</div>
<div>First Name: {{{firstName}}}</div>
<div>Last Name: {{{lastName}}}</div>
<div>Id Num: {{{id}}}</div>
<a href="/logout">Click Here To Logout</a>